<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PluginMark.MarkTheTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PluginMark.MarkTheTest.Properties.Settings>
            <setting name="doublePermissibleMaxInclination" serializeAs="String">
                <value>1.55</value>
            </setting>
        </PluginMark.MarkTheTest.Properties.Settings>
    </applicationSettings>
</configuration>