<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>

  <log4net>
    <appender name="TestAppender" type="log4net.Appender.RollingFileAppender">
      <file value=" Log\Applog.log"/>
      <encoding value="utf-8"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="32"/>
      <maximumFileSize value="1MB"/>
      <datePattern value="&quot;.&quot;yyyyMMdd&quot;.log&quot;"/>
      <staticLogFileName value="true"/>

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %type.%method - %message%n"/>
      </layout>
    </appender>
    <root>
      <level value="All"/>
      <!-- If the following line is not included the log file 
      will not be created even if log4net is configured with this file. -->
      <appender-ref ref="TestAppender"/>
    </root>
  </log4net>

  <appSettings>
    <add key="PIPublicInspect" value="QbxuZpnIu5AiI8A" />
    <add key="+D3QSCdTxDbLfroRFiV4G9mUEVWZ4FAW8pJXO1Wc=" value="fIhNpSrsOGA/yN+wCYOMaA==" />
    <add key="IP" value="oNBpwlThMyAJbXW/JSCcmkwwtfvCBVphEWRTFSJq6fc=" />
    <add key="Port" value="95yA9I8MnEMGfYvH97XXAw==" />
    <add key="connectionString" value="Data Source= Data/TrivietClient.db" />
    <add key="VersionInfo" value="&quot;2024-07-08T00:00:00&quot;" />
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.WebView2.WinForms" publicKeyToken="2a8ab48044d2601e" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.2849.39" newVersion="1.0.2849.39"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.WebView2.Core" publicKeyToken="2a8ab48044d2601e" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.2849.39" newVersion="1.0.2849.39"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
