<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LicenseServiceSoap"/>
            </basicHttpBinding>
            <customBinding>
                <binding name="LicenseServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpTransport/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3000/Services.asmx" binding="basicHttpBinding" bindingConfiguration="LicenseServiceSoap" contract="HVLicenseService.LicenseServiceSoap" name="LicenseServiceSoap"/>
            <endpoint address="http://localhost:3000/Services.asmx" binding="customBinding" bindingConfiguration="LicenseServiceSoap12" contract="HVLicenseService.LicenseServiceSoap" name="LicenseServiceSoap12"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
