<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Plugin.Examination.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Plugin.Examination.Properties.Settings>
            <setting name="SoCauBatDau" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MauDe" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NgonNgu" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaDe" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SoDeBatDau" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LeTrai" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="LePhai" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="GianDong" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="Tron25" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TronSapXep" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PhanNhomTnTl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Check" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExportRecommend" serializeAs="String">
                <value>False</value>
            </setting>
        </Plugin.Examination.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
